body {
    background-color: rgb(3, 112, 148);
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  }
@media(min-width: 700px) {
    body {
        background-color:rgb(155,23,153);
   }
   .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1200px){
.contenedor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
