/*MOBILE FIRST*/

body {
    background-color: rgb(3, 112, 148);
    
}

@media (min-width: 700px) {
    body {
        background-color: rgb(155, 23, 153);
    }
} /*cierre del media 700*/

@media (min-width: 1200px) {
    body {
        background-color: rgb(206, 199, 3);
    }
}

