.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.contenedor p {
  width: 100%;
}

/* 2 columnas */
@media (min-width: 700px) {
  .contenedor p {
    width: 50%;
  }
}

/* 3 columnas */
@media (min-width: 1200px) {
  .contenedor p {
    width: 33.33%;
  }
}
